- title "#{@song.artist} - #{@song.title}"

%p
  %strong Wykonawca:
  = @song.artist
  
%p
  %strong Tytuł:
  = @song.title

%p
  %strong Komentarz:
  = raw(@song.description)

%p
  = link_to "wszystkie utwory", songs_path
